@import 'tailwindcss';

@theme {
  --transition-duration: 0.7s;
  --color-primary: #204ed3;
  --color-primary-light: #4086d9;
  --color-secondary: #04113e;
  --color-orange-dark: #c8440c;
  --color-orange-light: #efd097;
  --color-text: #fafafa;
  --default-font-family: 'Quicksand', sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth scroll-pt-5 lg:scroll-pt-10 bg-slate-50;
  }

  body {
    @apply text-secondary;
  }
}

@layer utilities {
  .inner {
    @apply mx-auto max-w-[1140px] px-5 2xl:max-w-[1240px];
  }

  .l-section {
    @apply py-5;
  }

  .wapper-card {
    @apply bg-white p-6 rounded-2xl;
  }
}
